lab5/Lab5_http_client/Connected Services/SiplexService/Lab5_WCF.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lab5_WCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lab5_WCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="A">
    <xs:sequence>
      <xs:element minOccurs="0" name="F" type="xs:float" />
      <xs:element minOccurs="0" name="K" type="xs:int" />
      <xs:element minOccurs="0" name="S" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="A" nillable="true" type="tns:A" />
</xs:schema>